* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 20px;
    padding: 10px 15px;
    background-color: #1d1d1d;
  }
  h1 {
    font-size: 3em;
    color: #e8e8e8;
    position: relative;
    right: 5px;
    padding: 10px 20px 10px 20px;
  }
  h2 {
    font-size: 1em;
    color: #930017;
    padding: 20px 20px 10px 20px;
    color: #c9c9c9;
  }
  
  p {
    padding: 10px 20px 10px 20px;
  }
  main {
    position: relative;
  }

  .h1 {
    position: absolute;
    right: 5px;
    margin: 0;
    padding-top: 30px;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    color: #930017;
  }
  .h2 {
    padding: 70px 0 20px;
    margin: 0;
    font-size: 2em;
    font-family: roboto;
    color: #777a84;
  }
  
  p {
    color: #e8e8e8;
  }
  .sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 350px;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #a2a2a2;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  .logo {
    size: 100%;
  }

  section.kunst {
    background-color: rgb(71, 70, 70);
  }
  section.kunstnere {
    background-color: rgb(45, 44, 44);
  }
  section.aabenthus {
    background-color: rgb(45, 44, 44);
  }

  footer {
    background-color: rgb(23, 22, 22);
  }
  footer p {
    color: #e8e8e8;
  }
  