* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #2e2d2d;
  margin: 5px;
  padding: 5px;
}
h1 {
  font-size: 3em;
  color: #e8e8e8;
  position: relative;
  right: 5px;
  padding: 10px 0px;
}
h2 {
  font-size: 1.5em;
  padding: 10px 20px;
  color: #e8e8e8;
}
p {
  padding: 0px 20px 10px;
  color: #e8e8e8;
}

main {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}
.h1 {
  position: absolute;
  right: 10px;
  margin: 0;
  padding-top: 30px;
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  color: #b4051f;
}
.h2 {
  padding: 70px 0 20px;
  margin: 0;
  font-size: 2em;
  font-family: roboto;
  color: #e8e8e8;
}

.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 350px;
  top: 0;
  left: 0;
  background-color: rgb(4, 4, 4);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #c5c2c2;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.logo {
  size: 100%;
}

section.kunst {
  background-color: rgb(52, 52, 52);
}
section.kunstnere {
  background-color: rgb(52, 52, 52);
}
section.aabenthus {
  background-color: rgb(52, 52, 52);
}

.laesmere:link, .laesmere:visited {
color: #b4051f;
}

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
  margin-top: 10px;
  max-width: 100%;
}
video {
  width: 100% !important;
  height: auto !important;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.footer {
  background-color: rgb(52, 52, 52);
}

.footer p {
  margin: 5px;
}
/* web responsive tablet */
@media screen and (min-width: 500px) {
  .h1 {
    font-size: 4em;
  }
  .h2 {
    font-size: 4em;
    padding: 100px 10px 50px 100px;
  }
  /*.logo img {
    height: 600px;
    width: 80px;
    padding: 20px 30px;
  }*/
  .openbtn {
    font-size: 50px;
  }
}

/* web responsive desktop */
@media screen and (min-width: 800px) {
  .h1 {
    font-size: 6em;
  }
  .h2 {
    font-size: 8em;
  }
  .sidepanel a {
    font-size: 30px;
  }
}
